/* Mengatur font dan background. */
body {
    margin: 0;
    padding: 0;
    background: #71a4a2;
    font-family: sans-serif;
  }
  
  /* Mengatur box nya */
  .box {
    border-radius: 100px;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #5cc2bd;
    background-image: linear-gradient(to bottom right, #f8e149, #56f7bc);
    text-align: center;
    box-shadow: 10px 10px 5px rgb(111, 139, 96);
  }
  
  /* "Login" teks */
  .box h1 {
    color: #231f1f;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  /* Mengatur inputan */
  .box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #c346e6;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .box input[type = "text"]:focus, .box input[type = "password"]:focus {
    width: 280px;
    border-color: #ef6686;
  }
  
  .box input[type = "button"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ef6686;
    padding: 14px 40px;
    outline: none;
    color: rgb(74, 70, 70);
    border-radius: 24px;
    transition: 1s;
    cursor: pointer;
  }
  
  .box input[type = "button"]:hover {
    background: #ef6686;
  }